<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>GEO</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px 15px;
            text-align: left;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-if="indicator">
        <p><label for="indicator">Показатель:</label></p>
        <select v-model="indicatorId" @change="setIndicator" id="indicator">
            <option v-for="item in indicatorsData" :key="item.indicator.id" :value="item.indicator.id">
                {{ item.indicator.title }}
            </option>
        </select>
        <div v-for="measure in measures" :key="'ind' + indicatorId + '-meas-' + measure.id">
            <p><label>{{ measure.title }}:</label></p>
            <select :multiple="measure.multiple" v-model="measure.value">
                <option v-if="!measure.multiple" :value="null">-</option>
                <option v-for="value in measure.values" :key="'ind' + indicatorId + '-measure-val' + value.id" :value="value.id">
                    {{ value.title }}
                </option>
            </select>
        </div>

        <button type="button" @click="getFacts">Показать данные</button>

        <div v-if="facts.length">
            <h3>Данные:</h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название территории</th>
                    <th>Сумма средних</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="fact in facts" :key="'fact' + fact.territory.id">
                    <td>{{ fact.territory.id }}</td>
                    <td>{{ fact.territory.title }}</td>
                    <td>{{ fact.sum }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="module">
    // noinspection JSFileReferences
    import {
        createApp,
        ref,
        onMounted,
        nextTick,
    } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        setup() {
            const indicatorsData = ref([])
            const indicator = ref()
            const indicatorId = ref()
            const measures = ref({})
            const facts = ref([])

            onMounted(() => {
                fetch('/api/indicators')
                    .then(response => response.json())
                    .then(data => {
                        indicatorsData.value = data
                        indicatorId.value = data[0].indicator.id
                        setIndicator()
                        nextTick()
                    })
            })

            function setIndicator() {
                indicator.value = indicatorsData.value.find(d => d.indicator.id === indicatorId.value)
                measures.value = indicator.value.measures.map(m => {
                    return {
                        value: m.multiple ? [] : null,
                        ...m,
                    }
                })
            }

            function getFacts() {
                const params = {
                    indicator: indicator.value.indicator.id,
                }
                measures.value.forEach(m => {
                    if (m.value?.toString()) {
                        params[`measure[${m.id}]`] = m.value
                    }
                })
                fetch('/api/facts?' + (new URLSearchParams(params)).toString())
                    .then(response => response.json())
                    .then(data => {
                        facts.value = data
                        nextTick()
                    })
            }

            return {
                indicator,
                indicatorId,
                setIndicator,
                indicatorsData,
                measures,
                facts,
                getFacts,
            }
        }
    }).mount('#app')
</script>
</body>
</html>
